/* Variáveis globais */
:root {
  --input-number-height: 24px;
}


h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  margin-top: 50px;
}

main {
  text-align: center;
}

button {
  margin: 8px;
}

input[type=number] {
  margin: 4px;
  width: 50px;
  min-height: var(--input-number-height);
}

/* Ajusta o tamanho das setas laterais do input */
input[type=number]::-webkit-inner-spin-button {
  height: var(--input-number-height);
}

#quadrado-container {
  width: fit-content;
  border: 10px;
  padding: 2px;
  margin: 25px;
  margin-inline: auto;
  /* height: auto; */
  grid-gap: 1px;
  border: 1px black solid;
}

#quadrado-magico {
  max-width: fit-content;
  border: 10px;
  padding: 2px;
  margin: 10px;
  /* margin-inline: auto; */
  display: grid;
  height: auto;
  grid-gap: 1px;
  border: 1px black solid;
}

.celula {
  border: 1px black solid;
  border-radius: 6px;
  background-color: bisque;
  width: 50px;
  height: 50px;
  /* Centraliza o conteúdo da célula */
  text-align: center;
  display: grid;
  align-items: center;
}
